name: ETL Pipeline

on:
  workflow_dispatch:

jobs:
  run-etl:
    runs-on: ubuntu-latest

    services:
      zookeeper:
        image: wurstmeister/zookeeper
        ports:
          - 2181:2181

      kafka:
        image: wurstmeister/kafka
        ports:
          - 9092:9092
        env:
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

    env:
      SF_USER: ${{ secrets.SF_USER }}
      SF_PASSWORD: ${{ secrets.SF_PASSWORD }}
      SF_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
      SF_WAREHOUSE: ${{ secrets.SF_WAREHOUSE }}
      SF_DATABASE: ${{ secrets.SF_DATABASE }}
      SF_SCHEMA: ${{ secrets.SF_SCHEMA }}
      KAFKA_BOOTSTRAP: ${{ secrets.KAFKA_BOOTSTRAP }}
      KAFKA_TOPIC: ${{ secrets.KAFKA_TOPIC }}
      KAFKA_GROUP: ${{ secrets.KAFKA_GROUP }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Producer
        run: python producer.py

      - name: Run Consumer
        run: python consumer.py